<%- include('./partials/header.ejs'); %>
    create user
    <form action='/submitUser' method='post'>
    <input name='username' type='text' placeholder='username'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
    </form>
<%- include('./partials/footer.ejs'); %>